<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcos Venicius">
    <meta name="description" content="A chat privated and hacker style">
    <title>chat</title>
    <link rel="stylesheet" href="/chat/css/reset.css" />
    <link rel="stylesheet" href="/chat/css/style.css" />
    <link rel="shortcut icon" href="/chat/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="name_user"><h4 id="user_name_field"><%= name %></h4><a href="/logout">logout</a></header>

    <main class="wrapper">
      <section class="messages">
        <ul class="box_message">
        </ul>
      </section>
  
      <section class="msg_box">
        <input type="text" name="value" id="input_text" placeholder="Write here" />
        <button class="send">Send</button>
      </section>  
    </main>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="chat/js/main.js"></script>

    <script>
      window.addEventListener("load", () => {
        document.querySelector('input[type="text"]').focus();
      });
    </script>
  </body>
</html>
